.addcart {
  margin-left: 20px;
  width: 25%;
}
.shop {
  margin-top: 10px;

  overflow: hidden;
}

.shopcomponent {
  display: inline-block;
}

.card-style {
  margin: 25px 10px;
  padding: 15px 15px;
  box-shadow: 5px 5px 25px #aaaaaa;
  height: 410px;
  align-items: center;
}

.card-style img {
  width: 75%;
}
.addcart {
  border-left: 1px solid gray;
}
.addCart {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 500px;
  margin-top: 28px;
  margin-left: 25px;
  width: 25%;
}

.card-style Button {
  cursor: pointer;
}
